.container
    .wrapper
        h1.heading Education
        .education-container
            .education-place 
                h1.institute College
                p N.J.V Higher Secondary School 
                p Subject: Pre-medical
                p Oct 2018 - Feb 2020 
            .education-place 
                h1.institute University
                p Sindh Madressa-tul-Islam University, Karachi
                p Department: BSCS
                p Feb 2022 - 2026 