- var data = [{ link: 'https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=huzaifa.iqdev@gmail.com', label: 'huzaifa.iqdev@gmail.com', icon: 'fa fa-envelope' },{ link: 'tel:+92 335 2539311', label: '+92 335 2539311', icon: 'fa fa-phone' },{ link: 'https://www.linkedin.com/in/huzidev/', label: 'Linkedin profile', icon: 'fa fa-linkedin' },{ link: 'https://github.com/huzidev/', label: 'Github profile', icon: 'fa fa-github' }]

.container
    .wrapper
        .profile__content
            h1.heading Huzaifa Iqbal
            h3 Full Stack Web Developer with 2+ years of experience
            h1.contact Contacts and Profiles
            .profiles 
                each item in data
                    a(href=item.link target="_blank")
                        i(class=item.icon)
                        p= item.label