.container
    .wrapper
        h1.heading Huzaifa Iqbal
        h3.status Full Stack Web Developer
        h1.contact Contact and Profiles
        .profiles 
            a.link(href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=huzaifa.iqdev@gmail.com" target="_blank")
                i(class="fa fa-envelope")
                p Huzaifa.iqdev@gmail.com
            a.link(href="tel:+92 335 2539311")
                i(class="fa fa-phone")
                p +92 335 2539311
            //- a.link(href="https://www.linkedin.com/in/huzidev/" target="_blank")
            //-     i(class="fa fa-linkedin")
            //-     p LinkedIn profile
            //- a.link(href="https://github.com/huzidev/" target="_blank")
            //-     i(class="fa fa-github")
            //-     p Github profile