.container
    .wrapper
        .profile__content
            h1.heading Huzaifa Iqbal
            h3 Full Stack Web Developer
            h1.contact Contacts and Profiles
            .profiles 
                a(href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=huzaifa.iqdev@gmail.com" target="_blank")
                    i(class="fa fa-envelope")
                    p huzaifa.iqdev@gmail.com
                a(href="tel:+92 335 2539311")
                    i(class="fa fa-phone")
                    p +92 335 2539311
                a(href="https://www.linkedin.com/in/huzidev/" target="_blank")
                    i(class="fa fa-linkedin")
                    p LinkedIn profile
                a(href="https://github.com/huzidev/" target="_blank")
                    i(class="fa fa-github")
                    p Github profile