.container
    background: var(--surface)
    padding: 25px 0px
    margin-bottom: 20px
    box-shadow: 0 2px 4px var(--shadow)

    @include breakpoint(sm)
        padding: 20px 0px

.wrapper
    max-width: var(--max-width)
    margin: auto
    padding: 0px 100px

    @include breakpoint(md) 
        padding: 0px 50px
    
    @include breakpoint(sm)
        padding: 0px 25px

.heading
    @include heading-properties(var(--heading-font-size), var(--base-font-weight))

.focus
    font-weight: 800
