- var frontendSkills = [{ label: 'HTML' },{ label: 'CSS' },{ label: 'Jade/Pug' },{ label: 'Sass/Scss' }, { label: 'Javascript' },{ label: 'Typescript' }, { label: 'Styled-components' },{ label: 'Bootstrap' },{ label: 'Tailwind CSS' },{ label: 'ReactJS' },{ label: 'Redux' },{ label: 'Material UI' },{ label: 'Ant-Design' }]
- var backendSkills = [{ label: 'NodeJS' },{ label: 'ExpressJS' }, { label: 'RemixJS' }, { label: 'AdonisJS' }, { label: 'MongoDB' },{ label: 'mySQL' },{ label: 'Git' }]


.container
    .wrapper
        .skills__content
            h1.heading Skills
                .skills-container
                    each skill in frontendSkills
                        div
                            .wrapper
                                p= skill.label
                .skills-container
                    each skill in backendSkills
                        div
                            .wrapper
                                p= skill.label