.container
    .wrapper
        h1.heading Introduction
        p.top-intro Hello! My name is Huzaifa iqbal I am 20 years old. I've been practicing web-development for last 1 year and I've gained a lot of experience by practicing whatever I've learned for last 1 year. I've also completed Youtube course CS50 from Harvard University. 
        p Currently I've been studying in department CS from Sindh Madressa-tul-Islam University, Karachi.