.container
    .wrapper
        h1.heading Introduction
        p.intro Hello! My name is Huzaifa Iqbal. I'm 21 years old Full-Stack Engineer born and raised in Karachi. Currently, I am working as an Intern Junior Developer at Signature Works LLC. In this role, I use React, Remix, Shopify, and MySQL. 
        p.intro Apart from my professional life, I am fond of playing games and I find joy in solving coding problems on platforms like LeetCode to enhance my programming knowledge and polish my skills. Some of my all-time favorite games are Counter-Strike 1.6, GTA V, and Age of Empires III. I have also completed the stories of GTA IV, GTA V, Cyberpunk 2077, Stray, Tomb Raider, Rise Of The Tomb Raider, and Age Of Empires III. Nowadays, in my free time, I'm playing Shadow Of The Tomb Raider.