- var data = [
  "Hello! My name is Huzaifa Iqbal. I'm a 23-year-old Full-Stack Engineer with 2+ years of experience, born and raised in Karachi, Pakistan.",

  "I solve complex problems, fix bugs, eliminate errors, and provide reliable software experiences. My core stack includes <strong>TypeScript</strong>, <strong>NextJS</strong>, <strong>RemixJS</strong>, <strong>NodeJS</strong>, <strong>Prisma</strong>, and <strong>PostgreSQL</strong>. I always make sure to write clean, readable, and scalable code that is maintainable and can be easily extended — with a strong focus on user experience.",

  "I enjoy building personal projects, learning new technologies, and continuously polishing my development skills. I always find joy in solving coding problems, fixing bugs, and debugging errors — it sharpens my thinking and enhances my programming knowledge.",

  "Outside of tech, I’m a passionate gamer. Some of my all-time favorite games include GTA V, Cyberpunk 2077, the Tomb Raider Trilogy, Age of Empires III and story-driven detective games."
]

.container
  .wrapper
    .intro__content
      h1.heading Introduction
      each paragraph in data
        //- p= paragraph
        p!= paragraph
