.container
    .wrapper
        h1.heading Introduction
        p.top-intro Hello! My name is Huzaifa iqbal I am 20 years old. I've been practicing web-development for last 1 year and I've gained a lot of experience by practicing whatever I've learned for last 1 year. I've also completed Youtube course CS50 from Harvard University. 
        p Currently, I'm pursuing a Bachelor's degree in Computer Science from Sindh Madressa-tul-Islam University in Karachi.
        p Besides this, I am fond of playing games. Some of my all-time favorite games are Counter-Strike 1.6, GTA V and Age of Empires. I've completed Cyberpunk 2077, GTA V, Stray, and Age of Empires 3.