.container 
    .wrapper 
        .experience__content
            h1.heading Experience
            .experience__content-container
                .company-info
                    div 
                        p Company
                        p.role Developer 
                        p
                    div 
                        p Technologies: 
                        .skills-container
                            p React