.footer
    &__container
        background: var(--surface)
        padding: 25px 0px
        box-shadow: 0 2px 4px var(--shadow)

        @include breakpoint(sm)
            padding: 20px 0px
    &__content
        background: var(--surface)
        padding: var(--padding)
        .btn
            display: flex
            justify-content: center
            gap: 30px
            @include breakpoint(md) 
                flex-direction: column
                max-width: 300px
                margin: auto
                gap: 20px
            a
                @include flex-properties(row, center, center)
                @include button-properties(calc( var(--base-font-size) + 2px ), 15px, 5px)
                padding: 12px 32px
                border: 2px solid var(--border)
                &:hover
                    box-shadow: 0px 0px 4px 2px var(--shadow)