- var buttons = [{label: 'Download JPEG', href: './assets/huzidev-cv.jpeg', title: 'Download CV in Jpeg', icon: 'fa fa-image'}, {label: 'Download PDF', href: './assets/huzidev-cv.pdf', title: 'Download CV in pdf', icon: 'fa fa-file-pdf'},]

.footer__container
    .wrapper
        .footer__content
            div.btn
                each button in buttons
                    a(href=button.href download="" title=button.title)
                        i(class=button.icon)
                        p= button.label