.footer-container
    .button-cover 
        a.jpeg(href="./assets/Huzi-Dev-CV.jpeg" download title="Download complete CV in Jpeg")
            i(class="fa fa-image")
            p Download JPEG
        a.pdf(href="./assets/Huzii-Dev-CV.pdf" download title="Download complete CV in pdf")
            i(class="fa fa-file")
            p Download PDF