*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    
:root 
    --color: #000
    --surface: #fff
    --background: #f0f0f0
    --border: #efefef
    --shadow: rgba(0,0,0,0.05)
    --width: 1100px 
    --padding: 25px 0px
    --margin-bottom: 20px
    --margin: auto
    --font-weight: 600
    --font-size: 25px
    --letter-spacing: 1px

body
    background-color: var(--background)
    font-family: "Muli", sans-serif


@import "components/index.sass"
@import "global/index.sass"
